PROXY_RESOURCES=[{"method":"LIST","category":"HTTP","url":"","is_checked":true},{"method":"LIST","category":"HTTPS","url":"","is_checked":true},{"method":"LIST","category":"SOCKS4","url":"","is_checked":true},{"method":"LIST","category":"SOCKS5","url":"","is_checked":true},{"method":"SCRAP","category":"HTTP","url":"","is_checked":true},{"method":"SCRAP","category":"HTTPS","url":"","is_checked":true},{"method":"SCRAP","category":"SOCKS4","url":"","is_checked":true},{"method":"SCRAP","category":"SOCKS5","url":"","is_checked":true}]